<a href="https://colab.research.google.com/github/nithacy/36-350-Project-Week-13/blob/master/src/d1_raw_data/spider2csv.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##### 为了保证重构的可持续性，分为几步走：
1. 从数据库中取出爬虫存入的数据生成文件，保证和之前的格式一直
2. 修改之前读取文件的格式，直接从数据库读取
3. 新增加输出到 数据库 DB2 的格式
4. 替换文件生成的格式

安装依赖

In [1]:
!pip install SQLAlchemy==2.0.0
!pip install mysqlclient
import sqlalchemy
sqlalchemy.__version__

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting SQLAlchemy==2.0.0
  Downloading SQLAlchemy-2.0.0-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (2.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.8/2.8 MB 12.7 MB/s eta 0:00:00
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.8/dist-packages (from SQLAlchemy==2.0.0) (2.0.2)
Requirement already satisfied: typing-extensions>=4.2.0 in /usr/local/lib/python3.8/dist-packages (from SQLAlchemy==2.0.0) (4.4.0)
Installing collected packages: SQLAlchemy
  Attempting uninstall: SQLAlchemy
    Found existing installation: SQLAlchemy 1.4.46
    Uninstalling SQLAlchemy-1.4.46:
      Successfully uninstalled SQLAlchemy-1.4.46
Successfully installed SQLAlchemy-2.0.0
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting mysqlclient
  Downloading mysqlclient-2.1.1.tar.gz (88 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 88.1/88.1 KB 1.2 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: mysqlclient
  Building wheel for mysqlclient (setup.py) ... done
  Created wheel for mysqlclient: filename=mysqlclient-2.1.1-cp38-cp38-linux_x86_64.whl size=109197 sha256=9951974e37dfce712afcf400f9a1005554fcddb6a3a52581cc05f5224133d011
  Stored in directory: /root/.cache/pip/wheels/5b/e1/84/a6185eaec318899f59a32d393af7729a0719cd93695d71f9a1
Successfully built mysqlclient
Installing collected packages: mysqlclient
Successfully installed mysqlclient-2.1.1

'2.0.0'

定义模型

In [2]:
from typing import List
from typing import Optional
from sqlalchemy import ForeignKey
from sqlalchemy import String
from sqlalchemy import Text
from sqlalchemy.orm import DeclarativeBase
from sqlalchemy.orm import Mapped
from sqlalchemy.orm import mapped_column
from sqlalchemy.orm import relationship

class Base(DeclarativeBase):
    pass

class User(Base):
    __tablename__ = "user"

    id: Mapped[int] = mapped_column(primary_key=True)
    username: Mapped[str] = mapped_column(String(20))
    password: Mapped[str] = mapped_column(String(32))

    def __repr__(self) -> str:
        return f"User(id={self.id!r}, name={self.username!r})"

class D1_Raw_Winning_Notice(Base):
    __tablename__ = "d1_raw_winning_notice"
    # __table_args__ = {'extend_existing': True}

    project_id:Mapped[str] = mapped_column(Text)
    winning_date:Mapped[str] = mapped_column(Text)
    winning_notice_url:Mapped[str] = mapped_column(Text, primary_key=True)
    supplier_name:Mapped[str] = mapped_column(Text)
    supplier_addr:Mapped[str] = mapped_column(Text)
    order_name:Mapped[str] = mapped_column(Text)
    winning_amt:Mapped[str] = mapped_column(Text)
    cadidate_name:Mapped[str] = mapped_column(Text)
    buyer_name:Mapped[str] = mapped_column(Text)
    buyer_addr:Mapped[str] = mapped_column(Text)
    buyer_contact:Mapped[str] = mapped_column(Text)
    agency_name:Mapped[str] = mapped_column(Text)
    agency_addr:Mapped[str] = mapped_column(Text)
    agency_contact:Mapped[str] = mapped_column(Text)

    def __repr__(self) -> str:
        return f'''D1_Raw_Winning_Notice(
          project_id={self.project_id!r},
          winning_date={self.winning_date!r},
          winning_notice_url={self.winning_notice_url!r},
          supplier_name={self.supplier_name!r},
          supplier_addr={self.supplier_addr!r},
          order_name={self.order_name!r},
          winning_amt={self.winning_amt!r},
          cadidate_name={self.cadidate_name!r},
          buyer_name={self.buyer_name!r},
          buyer_addr={self.buyer_addr!r},
          buyer_contact={self.buyer_contact!r},
          agency_name={self.agency_name!r},
          agency_addr={self.agency_addr!r},
          agency_contact={self.agency_contact!r},
          )'''

创建引擎

In [3]:
from sqlalchemy import select
from sqlalchemy import create_engine
from sqlalchemy.orm import Session

engine = create_engine("mysql://infoconnect:noNaanKAlnX8h1mx@118.195.211.214/infoConnect_test", echo=True)

session = Session(engine)
# stmt = select(User)

st_raw_winning_notice = select(D1_Raw_Winning_Notice).limit(5)

# for user in session.scalars(stmt):
#   print(user)

# for raw_winning_notice in session.scalars(st_raw_winning_notice):
#   print(raw_winning_notice)

In [4]:
pip install mysql-connector-python

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting mysql-connector-python
  Downloading mysql_connector_python-8.0.32-cp38-cp38-manylinux1_x86_64.whl (23.5 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 23.5/23.5 MB 40.0 MB/s eta 0:00:00
Requirement already satisfied: protobuf<=3.20.3,>=3.11.0 in /usr/local/lib/python3.8/dist-packages (from mysql-connector-python) (3.19.6)
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.0.32

In [5]:
pip install duckdb==0.6.1

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting duckdb==0.6.1
  Downloading duckdb-0.6.1-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (14.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 14.4/14.4 MB 7.5 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.14 in /usr/local/lib/python3.8/dist-packages (from duckdb==0.6.1) (1.21.6)
Installing collected packages: duckdb
Successfully installed duckdb-0.6.1

In [6]:
pip install pymysql

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 43.8/43.8 KB 3.3 MB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2

In [27]:
import numpy as np
import duckdb
import pandas as pd
import mysql.connector
import uuid
import re

In [8]:
# establish database connection
conn = mysql.connector.connect(
    host="118.195.211.214",
    user="infoconnect",
    password="noNaanKAlnX8h1mx",
    database="infoConnect_test"
)

# clean winning notice, convert to global

## 1. read in as df and assign uuid

In [9]:
# Read the table into a pandas dataframe
winning_notice_df = pd.read_sql("SELECT * FROM d1_raw_winning_notice", con=conn)

In [10]:
# assign uuid to winning notice

winning_notice_df['proj_uuid'] = [str(uuid.uuid4()) for _ in range(winning_notice_df.shape[0])]

## 2. identify multi-order projects

In [11]:
winning_notice_df['order_cnt'] = winning_notice_df['supplier_name'].apply(lambda x: x.count(',') + 1)

In [12]:
winning_notice_df.groupby(['order_cnt']).size().reset_index(name = 'count')

   order_cnt  count
0          1     67
1          2      1
2          3      1
3          5      1

In [13]:
project_lvl_cols = winning_notice_df.columns.tolist()
for c in ['supplier_name', 'supplier_addr', 'winning_amt']:
  project_lvl_cols.remove(c)

In [14]:
order_lvl_cols = ['proj_uuid'] +  ['supplier_name', 'supplier_addr', 'winning_amt']


winning_notice_df_neq1 =  winning_notice_df[winning_notice_df['order_cnt'] != 1][order_lvl_cols].copy(deep = True)
winning_notice_df_eq1 =  winning_notice_df[winning_notice_df['order_cnt'] == 1][order_lvl_cols].copy(deep = True)

In [15]:
# for projects with only 1 order: their order_id is 1

winning_notice_df_eq1['order_id'] = 1

In [16]:
# for projectw with more than one order: we need to explode


winning_notice_df_neq1 = winning_notice_df_neq1.set_index('proj_uuid')\
                        .apply(lambda x: x.str.split(',')\
                        .explode())\
                        .reset_index()

In [17]:
winning_notice_df_neq1

,proj_uuid,supplier_name,supplier_addr,winning_amt
0,99d43e48-1dcd-420d-ac13-1776ff634391,山东泽泰科教设备有限公司,山东省菏泽市甄城县郑营镇郑营开发区文化路6号,987190.00元
1,99d43e48-1dcd-420d-ac13-1776ff634391,西安易橙信息科技有限公司,陕西省西安市浐灞生态区长鸣路与南三环十字东北角丝路会展产业孵化园4层4-1-2A？,1240888.00元
2,99d43e48-1dcd-420d-ac13-1776ff634391,西安汇才聚信科技有限公司,陕西省西安市沣东新城西咸大道国润城A2座6楼F1-559,989460.00元
3,99d43e48-1dcd-420d-ac13-1776ff634391,西安闽丰科教设备有限公司,西安市雁塔区南二环金源都市公寓1幢11307,1325607.00元
4,99d43e48-1dcd-420d-ac13-1776ff634391,陕西八禧商贸有限公司,陕西省西安市浐灞生态区广兴路新房绿色家园5号楼404室,394000.00元
5,1e8a41fc-6fff-409d-8f90-a8b5929fea34,陕西智恒数码科技有限责任公司,西安曲江新区雁翔路旺座曲江K座1601,8986080.00元
6,1e8a41fc-6fff-409d-8f90-a8b5929fea34,北京市博汇科技股份有限公司,北京市海淀区铃兰路8号院1号楼6层601,8158888.00元
7,1e8a41fc-6fff-409d-8f90-a8b5929fea34,陕西华海信息技术有限公司,陕西省西安市高新区太白南路22号坤元SOHO 2号楼4层,4090000.00元
8,ccc913fa-a451-49de-84e9-d124a83c1319,上海华测导航技术股份有限公司,上海市青浦区徐泾镇高泾路599号C座,678500.00元
9,ccc913fa-a451-49de-84e9-d124a83c1319,瞰景科技发展（上海）有限公司,上海市青浦区高光路215弄99号3幢B楼305室,295210.00元

In [18]:
# assign order_id
winning_notice_df_neq1['order_id'] = winning_notice_df_neq1 \
                                    .groupby(['proj_uuid']) \
                                    .cumcount() + 1

In [19]:
# concat winning_notice_df_neq1 and winning_notice_df_eq1 to get whole df with order level columns
winning_notice_df_order_lvl = pd.concat([winning_notice_df_neq1, winning_notice_df_eq1], axis = 0)

In [20]:
print(winning_notice_df_order_lvl.shape)

winning_notice_df_order_lvl.head()

(77, 5)

,proj_uuid,supplier_name,supplier_addr,winning_amt,order_id
0,99d43e48-1dcd-420d-ac13-1776ff634391,山东泽泰科教设备有限公司,山东省菏泽市甄城县郑营镇郑营开发区文化路6号,987190.00元,1
1,99d43e48-1dcd-420d-ac13-1776ff634391,西安易橙信息科技有限公司,陕西省西安市浐灞生态区长鸣路与南三环十字东北角丝路会展产业孵化园4层4-1-2A？,1240888.00元,2
2,99d43e48-1dcd-420d-ac13-1776ff634391,西安汇才聚信科技有限公司,陕西省西安市沣东新城西咸大道国润城A2座6楼F1-559,989460.00元,3
3,99d43e48-1dcd-420d-ac13-1776ff634391,西安闽丰科教设备有限公司,西安市雁塔区南二环金源都市公寓1幢11307,1325607.00元,4
4,99d43e48-1dcd-420d-ac13-1776ff634391,陕西八禧商贸有限公司,陕西省西安市浐灞生态区广兴路新房绿色家园5号楼404室,394000.00元,5

In [83]:
# join with project_lvl columns to get post-explosion whole df


winning_notice_df_proj_lvl = winning_notice_df[project_lvl_cols].copy(deep = True)

winning_notice_df_explode = winning_notice_df_proj_lvl.merge(winning_notice_df_order_lvl, how = 'left', on = 'proj_uuid', suffixes = ['', None])

## 3. now we have an order-level table, we need to clean columns

In [84]:
# clean winnig date: convert winning date format to datetime
winning_notice_df_explode['winning_date'] = pd.to_datetime(winning_notice_df_explode['winning_date'])

In [85]:
# clean winning amt: remove 元 then convert to float

winning_notice_df_explode['winning_amt'] = winning_notice_df_explode['winning_amt'].apply(lambda x: x.replace("元", "")).astype(float)

In [86]:
winning_notice_df_explode['cadidate_name'] = winning_notice_df_explode['cadidate_name'].fillna('')

In [87]:
# TODO: clean agency_contact and buyer_contact into contact and phone

def remove_chinese(k):
    ans = k
    chinese_in_k = re.findall('[\u4e00-\u9fff]+', k) # => []
    if len(chinese_in_k)>0:
        for ch in chinese_in_k:
          if len(ch) > 1: # keep '转'
              ans = ans.replace(ch, '')
    return ans

# keep chinese
def keep_chinese(k):
    chinese_in_k = re.findall('[\u4e00-\u9fff]+', k) # => []
    ans = [ch for ch in chinese_in_k if len(ch) > 1] # do not keep '转'
    return ', '.join(ans)

In [88]:
winning_notice_df_explode['agency_contact'] = winning_notice_df_explode['agency_contact'].fillna('')
winning_notice_df_explode['buyer_contact'] = winning_notice_df_explode['buyer_contact'].fillna('')


winning_notice_df_explode['agency_phone'] = winning_notice_df_explode['agency_contact'].apply(lambda x: remove_chinese(x))
winning_notice_df_explode['agency_contact'] = winning_notice_df_explode['agency_contact'].apply(lambda x: keep_chinese(x))

winning_notice_df_explode['buyer_phone'] = winning_notice_df_explode['buyer_contact'].apply(lambda x: remove_chinese(x))
winning_notice_df_explode['buyer_contact'] = winning_notice_df_explode['buyer_contact'].apply(lambda x: keep_chinese(x))

In [89]:
winning_notice_df_explode.columns

Index(['project_id', 'winning_date', 'winning_notice_url', 'order_name',
       'cadidate_name', 'buyer_name', 'buyer_addr', 'buyer_contact',
       'agency_name', 'agency_addr', 'agency_contact', 'proj_uuid',
       'order_cnt', 'supplier_name', 'supplier_addr', 'winning_amt',
       'order_id', 'agency_phone', 'buyer_phone'],
      dtype='object')

In [90]:
winning_notice_df_explode.shape

(77, 19)

# update entity df

In [ ]:
'''
include agency in the global table, should entity df also include agency?

entity table update process:
here I want to identify the list of entities needed to be populated


'''

# add in other necessary columns to get to global

## 1. add in entity province/county/district for supplier and buyer

In [91]:
for c in winning_notice_df_explode.columns:
  print(c + ' \\')

project_id \
winning_date \
winning_notice_url \
order_name \
cadidate_name \
buyer_name \
buyer_addr \
buyer_contact \
agency_name \
agency_addr \
agency_contact \
proj_uuid \
order_cnt \
supplier_name \
supplier_addr \
winning_amt \
order_id \
agency_phone \
buyer_phone \

In [92]:
entity_table_name = 'db2_entity_v1' # has duplications, don't select id
entity_df = pd.read_sql("SELECT distinct entity_name,entity_province,entity_county,entity_district,entity_contact,entity_phone,entity_addr, \
                        RANK() OVER(PARTITION BY entity_name ORDER BY length(entity_contact)+length(entity_phone) DESC) AS rn \
                        FROM {}".format(entity_table_name), con=conn)

In [94]:
# rename columns, coalesce information, reorder columns as what they are 
# db2_global_v3

# include agency info

winning_notice_df_final = duckdb.query("SELECT a.project_id \
, a.order_name \
, a.winning_date \
, a.winning_amt \
, a.buyer_name \
, a.supplier_name \
, a.agency_name \
, a.agency_addr \
, a.agency_contact \
, a.agency_phone \
, COALESCE(a.supplier_addr, b.entity_addr) AS supplier_addr \
, b.entity_contact AS supplier_contact \
, b.entity_phone AS supplier_phone \
, a.winning_notice_url \
, COALESCE(a.buyer_addr, c.entity_addr) AS buyer_addr \
, COALESCE(a.buyer_contact, c.entity_contact) AS buyer_contact \
, COALESCE(a.buyer_phone, c.entity_phone) AS buyer_phone \
, c.entity_province AS buyer_province \
, c.entity_county AS buyer_county \
, c.entity_district AS buyer_district \
, b.entity_province AS supplier_province \
, b.entity_county AS supplier_county \
, b.entity_district AS supplier_district \
, cadidate_name AS candidate_name \
FROM winning_notice_df_explode a \
LEFT JOIN entity_df b \
  ON a.supplier_name = b.entity_name \
LEFT JOIN entity_df c \
  ON a.buyer_name = c.entity_name").to_df()

In [95]:
winning_notice_df_final.shape

(77, 24)

In [96]:
winning_notice_df_final.head()

,project_id,order_name,winning_date,winning_amt,buyer_name,supplier_name,agency_name,agency_addr,agency_contact,agency_phone,...,buyer_addr,buyer_contact,buyer_phone,buyer_province,buyer_county,buyer_district,supplier_province,supplier_county,supplier_district,candidate_name
0,SZT2022-SN-SC-ZC-HW-0357,无人机航测实训室改扩建项目,2022-08-02 15:01:28,678500.0,陕西铁路工程职业技术学院,上海华测导航技术股份有限公司,陕西中技招标有限公司,西安市高新区高新四路1号高科广场A座10楼1001室,,029-883649793,...,陕西省渭南市站北街东段一号,,0913-2221395,NaN,NaN,NaN,上海市,上海市,青浦区,
1,KY2022-3-132,电气控制系统安装与调试实训室,2022-08-23 19:30:59,1767000.0,陕西铁路工程职业技术学院,亚龙智能装备集团股份有限公司,陕西开源招标有限公司,西安市雁展路1111号莱安中心T6-15层,,029-81206622-832/8333,...,陕西渭南市站北路东段1号,,0913-2221395,NaN,NaN,NaN,浙江省,温州市,永嘉县,
2,KY2022-3-364,本科智慧教室建设项目,2022-12-16 19:44:57,8158888.0,西北政法大学,北京市博汇科技股份有限公司,陕西开源招标有限公司,西安市雁展路1111号莱安中心T6-15层,,029-81206622-832/8333,...,西安市长安区西长安街558号西北政法大学,,029-88182569,NaN,NaN,NaN,北京市,北京市,海淀区,
3,GCZB2022-08-100-02,扩建飞机发动机维修实训室采购项目(二次),2022-10-13 16:48:58,1210000.0,西安航空职业技术学院,友道科技有限公司,陕西国创招标有限公司,西安市高新区高新一路5号正信大厦A座24楼,,029-888993633,...,西安市阎良区迎宾大道500号,,029-86855886,NaN,NaN,NaN,北京市,北京市,大兴区,
4,GCZB2022-06-061,智慧监测实训室设备采购项目,2022-07-28 16:55:49,576000.0,陕西铁路工程职业技术学院,四川升拓检测技术股份有限公司,陕西国创招标有限公司,西安市高新区高新一路5号正信大厦A座24楼,,029-888993623,...,陕西省渭南市站北街东段一号,,0913-2221395,NaN,NaN,NaN,四川省,自贡市,沿滩区,

2. add in school level and sec level information

In [97]:
# read university name from database
uni_list = pd.read_sql("SELECT * FROM university_all_cleaned", con=conn)
insscope_schools_df = uni_list[['school_name', 'school_level', 'sec_lvl']]


# join school list to get university level
winning_notice_df_final = winning_notice_df_final.merge(insscope_schools_df, how = 'left', left_on = 'buyer_name', right_on = 'school_name', 
                                                        suffixes = ['', None])
winning_notice_df_final.drop('school_name', axis = 1, inplace = True)

In [98]:
winning_notice_df_final['school_level'] = winning_notice_df_final['school_level'].fillna('other')
winning_notice_df_final['sec_lvl'] = winning_notice_df_final['sec_lvl'].fillna(0)
winning_notice_df_final['sec_lvl'] = winning_notice_df_final['sec_lvl'].astype(int)

# write data to databases:

1. append cleaned order-level records to db2 global

2. append cleaned_id_df to db2_cleaned_project_uuid, keep track of cleaned records

In [99]:

from sqlalchemy.types import *
# from sqlalchemy import create_engine, DECIMAL, DateTime, TEXT

## 1. append cleaned order-level records to db2 global

In [100]:


# Read the existing UUIDs into a pandas dataframe

destination_table = 'db2_global_v4'
existing_uuids = pd.read_sql_query("SELECT id FROM {}".format(destination_table), conn)
existing_uuids = set(existing_uuids["id"].tolist())

In [101]:
# generate and assign id to records in winning_notice_df_final

new_uuids = []

for i in range(winning_notice_df_final.shape[0]):
    new_uuid = str(uuid.uuid4())
    while new_uuid in existing_uuids or new_uuids in new_uuids:
        new_uuid = str(uuid.uuid4())
    new_uuids.append(new_uuid)


winning_notice_df_final['id'] = new_uuids

In [102]:
# make sure order and name of columns in final df aligns with that in the database

global_v3_cols = [
'project_id'
, 'order_name'
, 'winning_date'
, 'winning_amt'
, 'buyer_name'
, 'supplier_name'
, 'supplier_addr'
, 'supplier_contact'
, 'supplier_phone'
, 'winning_notice_url'
, 'buyer_addr'
, 'buyer_contact'
, 'buyer_phone'
, 'buyer_province'
, 'buyer_county'
, 'buyer_district'
, 'supplier_province'
, 'supplier_county'
, 'supplier_district'
, 'candidate_name'
, 'school_level'
, 'sec_lvl'
, 'id']

assert(winning_notice_df_final.columns.tolist() == global_v3_cols)

AssertionError: ignored

In [103]:
winning_notice_df_final.dtypes

project_id                    object
order_name                    object
winning_date          datetime64[ns]
winning_amt                  float64
buyer_name                    object
supplier_name                 object
agency_name                   object
agency_addr                   object
agency_contact                object
agency_phone                  object
supplier_addr                 object
supplier_contact              object
supplier_phone                object
winning_notice_url            object
buyer_addr                    object
buyer_contact                 object
buyer_phone                   object
buyer_province                object
buyer_county                  object
buyer_district                object
supplier_province             object
supplier_county               object
supplier_district             object
candidate_name                object
school_level                  object
sec_lvl                        int64
id                            object
dtype: object

In [104]:
winning_notice_df_final.head()

,project_id,order_name,winning_date,winning_amt,buyer_name,supplier_name,agency_name,agency_addr,agency_contact,agency_phone,...,buyer_province,buyer_county,buyer_district,supplier_province,supplier_county,supplier_district,candidate_name,school_level,sec_lvl,id
0,SZT2022-SN-SC-ZC-HW-0357,无人机航测实训室改扩建项目,2022-08-02 15:01:28,678500.0,陕西铁路工程职业技术学院,上海华测导航技术股份有限公司,陕西中技招标有限公司,西安市高新区高新四路1号高科广场A座10楼1001室,,029-883649793,...,NaN,NaN,NaN,上海市,上海市,青浦区,,university,0,4c261ab4-a9d4-4205-92e7-adc31419d354
1,KY2022-3-132,电气控制系统安装与调试实训室,2022-08-23 19:30:59,1767000.0,陕西铁路工程职业技术学院,亚龙智能装备集团股份有限公司,陕西开源招标有限公司,西安市雁展路1111号莱安中心T6-15层,,029-81206622-832/8333,...,NaN,NaN,NaN,浙江省,温州市,永嘉县,,university,0,394b1b67-852c-491b-b107-76dc065470c7
2,KY2022-3-364,本科智慧教室建设项目,2022-12-16 19:44:57,8158888.0,西北政法大学,北京市博汇科技股份有限公司,陕西开源招标有限公司,西安市雁展路1111号莱安中心T6-15层,,029-81206622-832/8333,...,NaN,NaN,NaN,北京市,北京市,海淀区,,university,0,d21a03fb-ff82-48e4-bb67-0510d5e15438
3,GCZB2022-08-100-02,扩建飞机发动机维修实训室采购项目(二次),2022-10-13 16:48:58,1210000.0,西安航空职业技术学院,友道科技有限公司,陕西国创招标有限公司,西安市高新区高新一路5号正信大厦A座24楼,,029-888993633,...,NaN,NaN,NaN,北京市,北京市,大兴区,,university,0,21032357-05b9-4def-886c-f10c4789b7c4
4,GCZB2022-06-061,智慧监测实训室设备采购项目,2022-07-28 16:55:49,576000.0,陕西铁路工程职业技术学院,四川升拓检测技术股份有限公司,陕西国创招标有限公司,西安市高新区高新一路5号正信大厦A座24楼,,029-888993623,...,NaN,NaN,NaN,四川省,自贡市,沿滩区,,university,0,5c0f72c6-63e0-4237-bc90-cfc9178357e1

In [105]:
import pymysql
# establish databasse pymysql connection


# TODO: instead of appending to the existing table, create a new copy + new records, for testing purpose


conn_wdb = pymysql.connect(host="118.195.211.214",
                       port=3306,
                       user="infoconnect", 
                       passwd="noNaanKAlnX8h1mx",
                       db="infoConnect_test")

In [106]:
winning_notice_df_final.columns

Index(['project_id', 'order_name', 'winning_date', 'winning_amt', 'buyer_name',
       'supplier_name', 'agency_name', 'agency_addr', 'agency_contact',
       'agency_phone', 'supplier_addr', 'supplier_contact', 'supplier_phone',
       'winning_notice_url', 'buyer_addr', 'buyer_contact', 'buyer_phone',
       'buyer_province', 'buyer_county', 'buyer_district', 'supplier_province',
       'supplier_county', 'supplier_district', 'candidate_name',
       'school_level', 'sec_lvl', 'id'],
      dtype='object')

In [107]:
winning_notice_df_final.to_sql('test', 
                               con = conn_wdb, 
                               if_exists = 'append', 
                               index = False, 
                               dtype={'project_id': TEXT
                                      , 'order_name': TEXT
                                      , 'winning_date': DateTime()
                                      , 'winning_amt':  Float()
                                      , 'buyer_name': TEXT
                                      , 'supplier_name': TEXT
                                      , 'agency_name': TEXT
                                      , 'agency_addr': TEXT
                                      , 'agency_contact': TEXT
                                      , 'agency_phone': TEXT
                                      , 'supplier_addr': TEXT
                                      , 'supplier_contact': TEXT
                                      , 'supplier_phone': TEXT
                                      , 'winning_notice_url': TEXT
                                      , 'buyer_addr': TEXT
                                      , 'buyer_contact': TEXT
                                      , 'buyer_phone': TEXT
                                      , 'buyer_province': TEXT
                                      , 'buyer_county': TEXT
                                      , 'buyer_district': TEXT
                                      , 'supplier_province': TEXT
                                      , 'supplier_county': TEXT
                                      , 'supplier_district': TEXT
                                      , 'candidate_name': TEXT
                                      , 'school_level': TEXT
                                      , 'sec_lvl': INTEGER
                                      , 'id': VARCHAR(32)})

ValueError: ignored

## 3. append cleaned_id_df to db2_cleaned_project_uuid, keep track of cleaned records

In [109]:
cleaned_id_df = winning_notice_df_explode['proj_uuid']

In [110]:
cleaned_id_df.to_sql(
    name="db2_cleaned_project_uuid",
    con=conn,
    if_exists="append",
    index=False
)

DatabaseError: ignored

In [112]:
cleaned_id_df.to_sql(
    name="db2_cleaned_project_uuid",
    con=conn,
    if_exists="append",
    index=False, 
    dtype = {'id': TEXT}
)

ValueError: ignored

In [28]:
df.shape

(70, 14)

# close connection

In [ ]:
# Close the connection
conn.close()

# archive

- global column order

In [ ]:
'''
global_v3_cols = [
'project_id'
, 'order_name'
, 'winning_date'
, 'winning_amt'
, 'buyer_name'
, 'supplier_name'
, 'supplier_addr'
, 'supplier_contact'
, 'supplier_phone'
, 'winning_notice_url'
, 'buyer_addr'
, 'buyer_contact'
, 'buyer_phone'
, 'buyer_province'
, 'buyer_county'
, 'buyer_district'
, 'supplier_province'
, 'supplier_county'
, 'supplier_district'
, 'candidate_name'
, 'school_level'
, 'sec_lvl'
, 'id']
'''